// Here you can add other styles

.mg-nn {
    margin: 0;
}
.mg-h-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.mg-v-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pd-nn {
    padding: 0;
}
.pd-h-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.pd-v-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.cursor-pointer {
    cursor: pointer;
}
.inline {
    display: inline !important;
}
.block {
    display: block !important;
}
.full {
    width: 100%;
}